
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-spotify:before { content: '\e803'; } /* '' */
.icon-gplus-1:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e805'; } /* '' */
.icon-linkedin-1:before { content: '\e806'; } /* '' */